.banner{
    padding: 40px 4%;
    height: 100vh;
    
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.banner .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.banner .txt-banner h1{
    font-size: 43px;
    line-height: 42px;
    color: white;
}

.banner .txt-banner p{
    margin: 40px 0;
    color: white;
    text-align: justify;
}

.banner .txt-banner p span{
    color: #00ff08;
    font-weight: 700;
    font-size: 18px;
}


.banner .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.banner .btn-contato button:hover{
    box-shadow: 0 0 10px #00ff08;
    transform: scale(1.1);
}

.banner .btn-contato button {
    margin: 10px;
}

.banner .img-banner img{
    max-width: 500px;
    filter: drop-shadow(0 0 8px #00ff08);
    border-radius: 10px;
    position: relative;
    animation: flutuar 3s  ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
   
    100%{
        top: 30px;
    }
}


@media screen and (max-width: 1080px) {
    header .interface{
        display: none;
    }

    .banner .flex{
        flex-direction: column;
    }
    .banner{
        height: 100%;
    }
}