section.banner {
  padding: 30px 4%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .flex {
  /* justify-content: center;
    align-items: center; */
  gap: 50px;
}

.banner .txt-banner h1 {
  font-size: 40px;
  line-height: 42px;
  color: white;
}

.banner .txt-banner p {
  margin: 40px 0;
  color: white;
  text-align: justify;
}

.banner .txt-banner p span {
  color: #00ff08;
  font-weight: 700;
  font-size: 18px;
}

.banner .btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00ff08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.banner .btn-contato button:hover {
  box-shadow: 0 0 10px #00ff08;
  transform: scale(1.1);
}

.banner .btn-contato button {
  margin: 10px;
}

.banner .txt-banner {
  width: 100%;
}

.banner .img-banner {
  width: 60%;
  display: flex;
  justify-content: center;
}

dotlottie-player {
  width: 100%;
}



@media screen and (max-width: 1080px) {
  section.banner {
    margin-top: 60px;
    height: auto;
  }
  .banner .flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .banner {
    /* padding-bottom: 30px; */
    height: auto;
    padding: 60px 4%;
    /* margin-bottom: 30px; */
  }
  .banner .txt-banner {
    text-align: center;
    
  }

  dotlottie-player {
    width: 60%;
  }
  .banner .flex {
    gap: 30px;
  }
  .banner .txt-banner h1 {
    font-size: 30px;
    
  }

  .banner .txt-banner p {
    margin: 20px 0;
  }
}
