.habilidades {
  padding: 90px 4%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hard-img img:hover {
  box-shadow: 0px 0px 15px 5px #00ff08;
}

.hard-box:hover p,
.hard-box:hover img {
  transform: scale(1.1);
  transition: 0.5s;
  color: #00ff08;
}

.habilidades-box {
  text-align: center;
}

.habilidades-box h2 {
  margin-bottom: 10px;
}

.habilidades-box h1 {
  margin: 10px;
  font-weight: 700;
  font-size: 35px;
}

.hard-skills-box {
  margin-top: 40px;
}

.hard-skills {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.hard-box {
  width: 100px;
  height: 100px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hard-box img {
  width: 90px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px 0px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: #fff 1px solid;
  cursor: pointer;
}

.hard-box :hover {
  color: #00ff08;
}

.soft-skills {
  margin-top: 90px;
}

.soft-skills-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.soft-box {
  width: 100px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.soft-box i {
  font-size: 80px;
}

.soft-box h3 {
  margin: 5px;
}

.soft-skills p {
  margin: 20px;
}

.soft-box:hover {
  color: #00ff08;
  scale: 1.2;
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1080px) {
  .habilidades {
    padding: 60px 4%;
  }
  
  .habilidades-box h1 {
    font-size: 30px;
  }
  
  .hard-box {
    width: 90px;
    height: 90px;
    margin: 25px 4px;
    display: flex;
  }

  .soft-box i {
    font-size: 70px;
  }

  .soft-box h3 {
    font-size: 20px;
  }
 
}
