.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    height: 100vh;
    padding: 80px 4%;

}

.img-sobre img{
    max-width: 450px;
    border-radius: 30px;
    /* max-width: 500px; */
    filter: drop-shadow(0 0 8px #00ff08);
    border-radius: 10px;
    position: relative;
    animation: flutuar 3s  ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
   
    100%{
        top: 20px;
    }
    
}


.sobre .txt-sobre{
    color: white;   
}

.sobre .txt-sobre h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.sobre .flex{
    gap: 60px;
    /* justify-content: center; */
    align-items: center;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 25px;
    cursor: pointer;
}


.btn-social button:hover{
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 0px 0px 15px 5px #00ff08;
}
.btn-social i{
    /* color: white; */
    /* align-items: center; */
    justify-content: center;
    display: flex;
    text-align: center;
}

.btn-social{
    display: flex
}

.btn-social .btn-curriculo{
    margin-left: 20px;
    width: 150px;
    border-radius: 30px;
    font-weight: 500;
}

